body,tr,td{
    MARGIN: 0px ;SCROLLBAR-FACE-COLOR: #dee3e7; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #efefef; FONT-FAMILY: ו; SCROLLBAR-DARKSHADOW-COLOR: #98aab1;
}

.mainDiv {  overflow-x: auto; WIDTH: expression(document.body.clientWidth-35); HEIGHT: expression((document.body.clientHeight-this.offsetTop-2>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20) : (document.body.clientHeight-this.offsetTop-30)) } 

.mainbody1{
background-image: url(body11.jpg);
}

.mainbody2{
background-image: url(body13.jpg);
}

.mainbody3{
background-image: url(body15.jpg);
}


.bluetable{
font-size: 12px;
background-image: url(top.jpg);
}

.bluetop{
font-size: 12px;
background-image: url(top1.jpg);
color: #ffffff;
}

.blueheadtr{
font-size: 12px;
color: #ffffff;
}

.bluetail{
font-size: 12px;
background-image: url(tail.jpg);
color: #ffffff;
}
.bluemidd1{
background-image: url(m1.gif);
}
.blueleft{
font-size: 12px;
background-image: url(leftbg.gif);
color: #ffffff;
}
.lefttd{
font-size: 12px;
color: #ffffff;
text-decoration: none;
}

A:link
{
	font-size: 12px;
	color: #393939;
	text-decoration: none;
}	
		
A:visited
{
	font-size: 12px;
	color: #393939;
	text-decoration: none;
}	
		
A:active
{
	color: #393939;
	font-size: 12px;
	text-decoration: underline;
}	
		
A:hover
{
	color: #393939;
	font-size: 12px;
	text-decoration: underline;
}	
.nexttop{
background-image: url(lingbg.jpg);
color: #ffffff;
}

.newbody{
background-image: url(menuBG.gif);
}
.newtitle{
	background-image: url(header_bg.gif);
}

.button_blue
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    BACKGROUND-IMAGE: url(BG0004.gif);
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
  
    BORDER-LEFT: medium none;
    WIDTH: 61px;
    CURSOR: hand;
    COLOR: #ffffff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: "ו";
    HEIGHT: 26px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center
}
.nextpage{
	BACKGROUND-COLOR: #999999;
}

.newtd1{
	background-color:#EDF1E7;
}

.newtd2{
	background-color:#ffffff;
}

.button_css
{
	border-right: #94C3CE 0px solid;
	border-top: #94C3CE 0px solid;
	border-left: #94C3CE 0px solid;
	border-bottom: #94C3CE 0px solid;
	color: #ffffff;
	font-family: "ו";
	font-size: 12px;
	background-image: url(11.gif);
	HEIGHT: 21px;
	text-decoration: none;
	
}	

A.LinkLine:link
{
	font-size: 12px;
	color: #3333CC;
	text-decoration: underline;
}	
	
A.LinkLine:visited
{
	font-size: 12px;
	color: #3333CC;
	text-decoration: underline;
}	
	

A.LinkLine:active
{
    FONT-SIZE: 12px;
    COLOR: #3333CC;
    TEXT-DECORATION: underline
}

A.LinkLine:hover
{
    FONT-SIZE: 12px;
    COLOR: #fd7405;
    TEXT-DECORATION: underline
}